= form_for @church, :url => { :action => "upload_directory" }, 
  :method => :post, :html => {:multipart => true, :class => "upload_directory", :id => "upload_directory" } do |f|
  %p
    %label My Church Directory
    = image_tag(@church.church_directory) if @church.church_directory?
    = f.file_field :church_directory    
  %p 
    = f.submit 'Upload'
